body {
	background-color: lightgreen;
}

a {
	color:blueviolet;
}

button {
	background-color: teal;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

.button: is(:hover, :focus) {
	outline-offset: 3px;
}